<% include ../parciales/encabezado %>
<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Editar comentario</h1>
        <div style="width:30%; margin:25px auto;">
            <form action="/peliculas/<%= pelicula_id %>/comentarios/<%= comentario._id %>?_method=PUT" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="comentario[texto]" value="<%= comentario.texto %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <strong class="text-center">
        <% include ../parciales/pie %>
    </strong>
</div>