<% include parciales/encabezado %>

<div class="container">

    <h1>Bienvenido a la Pagina de Inicio</h1>
    <p>Esta es la página de las películas</p>
    <a href="/peliculas">Ver todas las películas</a>
</div>

<div class="container">
    <strong class="text-center">
        <% include parciales/pie %>
    </strong>
</div>