<% include parciales/encabezado %>
<h1>Inicia Sesión</h1>
<form action="/login" method="post">
    <input type="text" name="username" id="" placeholder="Nombre de Usuario">
    <input type="password" name="password" id="" placeholder="Contraseña">
    <input type="submit" value="Iniciar Sesión!">
</form>
<% include parciales/pie %>