<% include parciales/encabezado %>
<h1>Registro</h1>

<form action="/registro" method="post">
    <input type="text" name="username" placeholder="Nombre de Usuario" id="">
    <input type="password" name="password" placeholder="Contraseña" id="">
    <button>Registrar</button>
</form>

<% include parciales/pie %>